@model Sachin_452.Models.ViewModel.UserModel

<!doctype html>
<html lang="en">
<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Theme/Login/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

</head>
<body>
    @if (TempData["success"] != null)
    {
<script>
        toastr.success('@TempData["success"]')
</script>}
    @if (TempData["error"] != null)
    {
<script>
        toastr.error('@TempData["error"]')
</script>}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Retro Rides</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap ">
                        <div class=" p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign Up</h3>
                                </div>
                            </div>
                            <form method="post" enctype="multipart/form-data" class="signin-form">
                                <div>
                                    <input type="file" name="ProfilePhoto" class="form-control" />
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-lg-4">
                                        <label class="label" for="email">Firstname</label>
                                        <input type="text" name="FirstName" class="form-control" placeholder="FirstName">
                                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label class="label" for="LastName">MiddleName</label>
                                        <input type="text" name="MiddleName" class="form-control" placeholder="MiddleName">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label class="label" for="LastName">LastName</label>
                                        <input type="text" name="LastName" class="form-control" placeholder="LastName">
                                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-lg-6">
                                        <label class="label" for="email">Email</label>
                                        <input type="text" name="Email" class="form-control" placeholder="Email">
                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-3 col-lg-6">
                                        <label class="label" for="PhoneNumber">PhoneNumber</label>
                                        <input type="text" name="PhoneNumber" class="form-control" placeholder="PhoneNumber">
                                        @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-3 col-lg-6">
                                        <label class="label" for="DOB">DOB</label>
                                        <input type="date" name="DOB" class="form-control" placeholder="DOB">
                                        @Html.ValidationMessageFor(x => x.DOB, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-3 col-lg-6">
                                        <label class="label" for="password">Password</label>
                                        <input type="password" name="Password" class="form-control" placeholder="Password">
                                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="AddressLine1">AddressLine1</label>
                                    <textarea name="AddressLine1" class="form-control" placeholder="AddressLine1"></textarea>
                                    @*<input type="text" name="PhoneNumber" class="form-control" placeholder="PhoneNumber">*@
                                    @Html.ValidationMessageFor(x => x.AddressLine1, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="AddressLine1">AddressLine2</label>
                                    <textarea name="AddressLine2" class="form-control" placeholder="AddressLine2"></textarea>
                                    @Html.ValidationMessageFor(x => x.AddressLine2, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-3 mb-3">
                                        <label for="exampleFormControlSelect1">Select Country</label>
                                        <select class="form-control " name="Country" id="CountryId" onchange="BindState()">
                                            <option value="" selected disabled>--Select Country--</option>

                                            @if (@ViewBag.Countries != null)
                                            {
                                                foreach (var country in ViewBag.Countries)
                                                {
                                <option value="@country.CountryId">@country.CountryName</option>}
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 mb-3">
                                        <label for="exampleFormControlSelect1">Select State</label>
                                        <select class="form-control " name="State" id="StateId" onchange="BindCity()">
                                            <option selected value="">--Select State--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 mb-3">
                                        <label for="exampleFormControlSelect1">Select City</label>
                                        <select class="form-control " name="City" id="CityId" onchange="BindZipCode()">
                                            <option selected value="">--Select City--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 mb-3">
                                        <label for="exampleFormControlSelect1">Select ZipCode</label>
                                        <select class="form-control " name="ZipCode" id="ZipCodeId">
                                            <option selected value="">--Select ZipCode--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                            </form>
                            <p class="text-center">Already Registerd?  @Html.ActionLink("Sign In", "Login", "Home")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/Theme/Login/js/jquery.min.js"></script>
    <script src="~/Content/Theme/Login/js/popper.js"></script>
    <script src="~/Content/Theme/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Theme/Login/js/main.js"></script>
</body>
</html>

<script>
    function BindState() {
        $('#StateId').html('<option value="Select">--Select State--</option>');
        $('#CityId').html('<option value="Select">--Select State--</option>');
        var CountryId = $('#CountryId').val();
        console.log("copuntru");
        if (CountryId != null && CountryId != undefined && CountryId != '') {
            $.ajax({
                method: "GET",
                url: "/Home/GetStateByCountry?countryId=" + CountryId,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var options = '<option id="' + data[i].StateId + '" value="' + data[i].StateId + '">' + data[i].StateName + '</option>';
                        $('#StateId').append(options);
                    }
                }
            });
        }
    }

    function BindCity() {
        $('#CityId').html('<option value="Select">--Select State--</option>');

        var StateId = $('#StateId').val();
        if (StateId != null && StateId != undefined && StateId != '') {
            $.ajax({
                method: "GET",
                url: "/Home/GetCityByState?stateId=" + StateId,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var options = '<option id="' + data[i].CityId + '" value="' + data[i].CityId + '">' + data[i].CityName + '</option>';
                        $('#CityId').append(options);
                    }
                }
            });
        }
    }

    function BindZipCode() {
        $('#ZipCodeId').html('<option value="Select">--Select ZipCode--</option>');

        var CityId = $('#CityId').val();
        if (CityId != null && CityId != undefined && CityId != '') {
            $.ajax({
                method: "GET",
                url: "/Home/GetZipCodeByCity?cityId=" + CityId,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var options = '<option id="' + data[i].ZipCodeId + '" value="' + data[i].ZipCodeId + '">' + data[i].ZipCodeName + '</option>';
                        $('#ZipCodeId').append(options);
                    }
                }
            });
        }
    }
</script>

